.main {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
  background: rgb(99,91,228);
  background: linear-gradient(45deg, rgba(99,91,228,1) 0%, rgba(40,238,49,1) 35%, rgba(0,212,255,1) 100%);
}

